.board {
  display: grid;
  margin: 50px;
  row-gap: 15px;
  column-gap: 15px;
  -webkit-animation: appear 0.5s both;
  animation: appear 750ms both;
  min-width: 500px;
  min-height: 500px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  cursor: grab;
}

@media (max-width: 560px) {
  .board {
    min-width: 300px;
    min-height: 300px;
    max-width: 70vmin;
    max-height: 70vmin;
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
