.cell {
    display: flex;
    background-color: #054690;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.tile {
    background-color: #0ff15b;
    animation: appear 750ms both;
    font-size: 40px;
}

.tile > img{
    border-radius: 10px;
    width: 95%;
    height: 95%;
    -webkit-user-drag: none;
    user-drag: none;
}